.details,
.security,
.contactinfo {
    text-align: center;
    background-color: lightgrey;
    width: 440px;
    border: 20px solid yellow;
    padding: 10px;
    margin: 0px;
}

form {
    width: 500px;
}

button {
    background-color: aquamarine;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 164px;
    opacity: 0.9;
    display: inline-block;
}

button:hover {
    opacity: 1;
}

.validatebtn,
.cancelbtn,
.nextbtn {}